*.pyc
*.gif
.idea
*.data
*.index
*.out
*.meta
*.DS_Store
*.pth
*.cpp
*.so

recursive_planning.egg-info/
record/
records/
verbose/
auto_gen*
venv*/
build/

events/
nosave_experiments/
nosave/
git.txt
cmd.txt

splitted/


recursive_planning/rec_planner_utils/lpips
